/*! NYU CSS 2.0 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; 
    color: #222;
    line-height: 1.4;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-family: 'Gotham SSm A', 'GothamSSm B', 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
 /* font-weight: 300; */
  font-family: 'Gotham A', 'Gotham B', 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;

}
h1 { font-size: 4.0rem; line-height: 1.2;}
h2 { font-size: 3.6rem; line-height: 1.25;}
h3 { font-size: 3.0rem; line-height: 1.3;}
h4 { font-size: 2.4rem; line-height: 1.35;}
h5 { font-size: 1.8rem; line-height: 1.5;}
h6 { font-size: 1.5rem; line-height: 1.6;}

/* Larger than thablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #5E2D81; text-decoration: none; }
a:hover {
  color: #4AC2C1; text-decoration: none; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a.btn:link,a.btn:visited{
  position: relative;
  color: #fff;
  background-color: #5e2d81;
  padding: 1em 0.75em;
  border-radius: 7px;
  text-decoration: none;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(74,194,193,1);
  -moz-box-shadow: 4px 4px 0px 0px rgba(74,194,193,1);
  box-shadow: 4px 4px 0px 0px rgba(74,194,193,1); 
  font-size: 1em;
  white-space: nowrap;
}
a.btn:hover,a.btn:focus,a.btn:active{
   background-color: #824CA9;

}
a.btn:active{
  background-color: #3E0F61;
  top: 1px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(74,194,193,1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(74,194,193,1);
  box-shadow: 3px 3px 0px 0px rgba(74,194,193,1);
}
@media(min-width:600px){
  a.btn:link,a.btn:visited{
    font-size: 1.5em;
  }
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  border: 0;
    margin: 0;
    padding: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/*Menu & Container*/
.container {
  display: block;
  position: relative;
  max-width: 1280px;
  width: 100%;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

.logo{ display: block; width: 100%; }
.comingSoon header .six.columns.logo{ padding-right: 4%;}
.logo a{width: 100%;}
.logo img{ 
  display: block; 
  max-width: 210px; 
  width: 100%; 
  margin:auto; 
  margin-bottom: 7em;
  margin-top: 1em;}
.logo span.headernyuoneday{
  display: block;
  float: right;
  width:calc(100% - 124px);
  line-height: 126px;
  text-align: center;
  vertical-align: middle;
  
  font-weight: 400;
  font-size: 2em;
  color: #4ac2c1;
}
.header-menu-btn{
  position: absolute;
  top: 100px;
  left: 135px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  
  font-weight: 400;
  font-size: 1.2em;
  color: rgb(94, 45, 129);
  line-height: 1em;
  display: inline-block;
}
.header-menu-btn:active,.header-menu-btn:focus,.header-menu-btn:hover{
  color: #000;
}
i.fa-bars{ /* this should be global */ 
  font-family: 'FontAwesome'; margin-right: 1ex; }

.header-menu{
  display: none;
  width: 100%;
  clear: both;
  margin: 0;
  padding: 0;
}
.header-menu .menu-item{
    list-style: none;
    margin: 0;
    padding: 0 2% 0 2%;
    display: block;
    text-align: left;
    line-height: 2.2em;
    border-left: 124px solid #602D81;
}
.header-menu a:link,
.header-menu a:visited{
  border-left: 4px solid #4ac2c1;
  padding-left: 0.5ex;
  text-transform: uppercase;
  text-decoration: none;
  
  font-weight: 400;
  font-size: 1.2em;
  color: rgb(94, 45, 129);
  line-height: 1em;
  display: inline-block;
}
.header-menu a:hover,
.header-menu a:focus,
.header-menu a:active{}

@media only screen and (min-width:430px){
  .header-menu-btn{display: none;}

  .header-menu{ display: block; text-align: center;}
  .header-menu .menu-item{display: inline-block; border-left: 0 none; padding: 0 2%; float: none; line-height: 5em;}
}
@media only screen and (min-width:600px){
  .container {
    display: block;
    position: relative;
    max-width: 1280px;
    width: 100%;
    padding: 0 1.71%; /*1.7=22px*/
    margin: auto;
    box-sizing: border-box;
  }
  .logo.six.columns{ float: left; width: 65%; }
  .comingSoon header .six.columns.logo{width: 25%; margin-left: 0;}
  .logo img{ margin-bottom: 1em; margin-top: auto; }
  .header-menu{ 
    clear: none;
    float: right;
    height: 126px;
    display: inline;
    width: 30%;
     }
  .header-menu .menu-item{
    line-height: 2.75em;
    text-align: left;
    float: none;
    display: block;
  }
  .header-menu a:link,
  .header-menu a:visited{
  }
   
}
@media only screen and (min-width:890px){
  .logo span.headernyuoneday{ font-size: 2.5em;}  
  .logo.six.columns,
  .comingSoon header .six.columns.logo{width: 50%; float: left;}
  .logo img{ float: left; }
  .header-menu{ width: 50%; text-align: center;}
  .header-menu .menu-item{
    list-style: none;
    margin: 0;
    padding: 0 2%;
    float: none;
    display: inline-block;
    text-align: center;
    line-height: 8em;
  }
  .header-menu a:link,
  .header-menu a:visited{/* font-size: 1.5em; */}
}

/*Countdown*/
section.countdown {
  position: relative;
  background-color: rgb(74, 194, 193);
  background-image: url(../img/common/counter-bkg.png);
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: center top;
  padding:10px 0;
}
.countdown p {
  font-size:0.867em;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 1.4;
  text-align: center;
  margin-bottom:0;
}
#countdown-holder{ }
#countdown-holder>span{white-space: nowrap;}
#countdown-holder .label{}

.countdown {
	background-color: rgb(74, 194, 193);
	padding:10px 0;
}
/*.countdown h3 {
	font-size: 40px;
	
	color: rgb(255, 255, 255);
	line-height: 1.4;
	text-align: center;
	font-weight:400;
	margin-bottom:0;
	letter-spacing:0.5px;
}*/
@media only screen and (min-width:860px){
  .countdown p {
   /* font-family: 'Gotham A', 'Gotham B';*/
    font-size: 1.867em;
  }
}






.banner-main img{
	width: 100%;
	position: relative;
	z-index: 1;
}

.banner-main .overlay {
	background-color: rgba(94, 45, 129, 0.859);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:2;
}
.banner-font{
	text-align: center;
}
.banner-main .banner-font{
	top: 35%; 
	position: absolute; 
	left: 0px; 
	right: 0px; 
	margin-left: auto; 
	margin-right: auto;
	color: rgb(255, 255, 255);
	line-height: 0.875;
	text-align: center;
	font-size: 64px;
}
.content-bkg-img {
	background-image: url("../img/vector-bkg.png");
  background-repeat: no-repeat;
	background-size: cover;
}
.banner-font-small{
	font-size:48px;	
}
.content .banner-font {
	font-size: 46px;
	color: rgb(94, 45, 129);
	line-height: 1.565;
	display:block;
	padding: 90px;
}
.banner-font-big
{
	font-size:60px;	
}
.content{
	margin-bottom:70px;
}

/* banner section 1 */
section.banner{
  position: relative;  
  text-align: center;
  background: url(../img/main-banner-cs-170216.jpg) top center;
  min-height: 200px;
  background-size: cover;
}
section.banner{padding-bottom: 10%;}/* cs */
.banner-headline{
  position: relative;
  padding: 1.5em 0;
  margin-left: auto; 
  margin-right: auto;
  color: rgb(255, 255, 255);
  text-align: center;
  }
.banner-headline .ln{
  display: block;
  white-space: nowrap;
}
.banner-headline.cs .ln{ display: block; white-space: normal; }
.ln .mobileBreak{}
.banner-headline.cs .ln2{ display: none;}
.banner-headline.cs {
    position: absolute;
    top: -2.5em;
    right: 0;
    left: 0;
   
      background: url(../img/h1-bkg.png) no-repeat ;
    background-size: 100% 100%;
    padding: 0;
     padding: 8% 6% 8.5% 6%;
    margin:0;
    font-size: 200%;
    color: #ffffff;
    font-weight: 500;
}
 

@media(min-width:600px){
.ln .mobileBreak{display: none;}
  section.banner{  min-height: 270px;}
  .banner-headline.cs{
    position: absolute;
    top: -3em;
    right: 0;
    left: auto;
    background: url(../img/h1-bkg.png) no-repeat ;
    background-size: 100% 100%;
    padding: 3.5% 6% 4% 6%;
    margin: 0;
    color: #fff;
    font-size: 150%;
    font-weight: 500;
    text-shadow: 0px 6px 5px rgba(39, 7, 49, 0.35);
  }
  .banner-headline.cs .ln{
    white-space: nowrap;
  }
  .banner-headline.cs .ln2{ display: block; font-size: 75%;}

}


@media(min-width:860px){
  section.banner{height: 360px;padding-top: 2.5em;}
  .banner-headline{ font-size: 64px;}
  .banner-headline .ln{ display: block; }
  .banner-headline.cs{ font-size: 200%; top: -4em;}
}
@media(min-width:1040px){
 .banner-headline.cs{ font-size: 240%;}
}
@media(min-width:1200px){
 .banner-headline.cs{ font-size: 320%; top: -3.5em;}
}


/* supportToday section 2 */
section.supportToday{
  
  display: block;
  position: relative;
  background: #fff url(../img/supportToday-bck.png) repeat-x 8px 15px;
  color: #5e2d81;
  padding: 0em 2% 3em 2% ;
  text-align: center;
  line-height: 1.3em;
}
.supportToday p{ max-width: 450px; font-size: 1em; margin: auto auto 3.5em auto; }

@media(min-width:600px){
  section.supportToday{line-height: 2.6em;padding: 3em 0 4em 0 ;}
  .supportToday p{ max-width: 100%; font-size: 1.31em;}
}


/* donors section 3 */
section.donors{
  
  background: #fff url(../img/hp-thermometer-banner-bck.jpg) top left;
  color: #5e2d81;
  padding: 2em 0 ;
  text-align: center;
  line-height: 1.3em;
}
section.donors a{
	color: #5e2d81;
	text-decoration:none;
	font-weight:600;
} 

section.donors a:hover{
	color: #4AC2C1;
} 

section.donors a.btn:link, section.donors a.btn:visited {
    position: relative;
    color: #fff;
    background-color: #5e2d81;
    padding: 0.5em 0.75em;
    border-radius: 7px;
    text-decoration: none;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(74,194,193,1);
    -moz-box-shadow: 4px 4px 0px 0px rgba(74,194,193,1);
    box-shadow: 4px 4px 0px 0px rgba(74,194,193,1);
    font-size: 1em;
    white-space: nowrap;
	font-weight:400;
}
.donors-col{
  display: block;
  float: none;
  width: 90%;
  margin: auto;
}
.donors-thermometer img{ max-width: 100%;} 


iframe.donors-thermometer{
 /* min-width: 365px;*/
  max-width: 239px;
  height: 376px;
 /* height: 526px;*/
  margin: auto;
  padding-top: 3em;
}
.donors-text{ font-size: 1em; /*padding-top: 4em; */}
  .donors-headline{ text-transform: uppercase; }

@media(max-width:860px){

.donors-thermometer img{ max-width: 300px;}
    
    section.donors{padding: 4em 0 ;line-height: 2.6em;}
  iframe.donors-thermometer{padding-top: 0; height: 526px; max-width: 450px;}
  .donors-col{ float: none; width: 100%; margin-top: 30px;  }
  
  
  
}

@media(min-width:860px){
  .donors-col{ float: left; width: 38.2%; max-width: 100%; }
  .donors-col.donors-text{font-size: 1.31em;
    width: 57%; padding-left: 4%;
    padding-top: 7%;
    line-height: 2em; }
}

/* social section 4 */
section.social{
  padding: 2em 0;
  text-align: center;
}

.social-headline{
  display: block;
  text-align: center;
  color: #5e2d81;
    
      margin-bottom: 0.75em;
}
/* ************************************************************************ */
/* Social Wall  */
/* ************************************************************************ */
/* ************************************************************************ */
.dcsns{
  background-color: transparent !important;
}
.dcsns ul.stream{ width:226px; }

@media(min-width:500px){
  .dcsns ul.stream{ width:480px; }
}
@media(min-width:760px){
  .dcsns ul.stream{ width:750px; }
}
@media(min-width:990px){
  .dcsns ul.stream{ width:960px; }
}
.stream li {
      margin: 0 6px 12px 6px!important;
}
.stream li.dcsns-twitter .section-intro, .filter .f-twitter a:hover, .filter .f-twitter a.iso-active {
    background-color: #f5f5f5!important;
}
.stream li.dcsns-facebook .section-intro, .filter .f-facebook a:hover, .filter .f-facebook a.iso-active{
  background-color: #f5f5f5!important;
}
.stream li.dcsns-instagram .section-intro, .filter .f-instagram a:hover, .filter .f-instagram a.iso-active{
  background-color: #f5f5f5!important;
}

.stream li .section-intro,
.stream li.dcsns-facebook .section-intro a,
.stream li.dcsns-twitter .section-intro a, 
.stream li.dcsns-twitter .section-intro a:hover{
  color: #a1a1a1!important;
}
.stream li{
  box-shadow: 0 0 0 transparent!important;
  border-radius: 0!important;
}
.stream li .icon {
    position: absolute!important;
    left: 8px!important;
    bottom: 5px!important;
    z-index: 2!important;
    height: 20px!important;
}
span.section-intro{    border-top: 1px dashed #e6e6e6!important;}

/* ************************************************************************ */
/* MINI-CHALLENGE page  */
/* ************************************************************************ */
/* ************************************************************************ */
/* banner section 1 */
section.mini-challenge-top{
  position: relative;
  
  text-align: center;
  background: url(../img/NYUbanner-bck-impact.jpg) top center;
  padding: 4em 0 4em 0;
}
.mini-challenge-top .container{
  background-color: #f5f5f5;
  border-radius: 7px;
  border: 4px solid #4ac2c1;
  max-width: 1111px;
  width: 98%;
}

.mini-challenge-top-logo{
  position: relative;
  display: block;
  margin: auto auto 1em auto;
  max-width: 317px;
 /* width: 98%;*/
  z-index: 1;
}
.mini-challenge-top-badge{
  position: absolute;
  right: 25px;
  top: -20px;
  max-width: 116px;
/*  width: 95px;*/
width: 20%;
  z-index: 2;
}
.mini-challenge-top-cicle{
/*  position: absolute;
  top: -98px;
  left: 50%;
  margin-left: -98px;*/
  clear: both;
  position: relative;
  width: 20%;
  max-width: 197px;
  margin: -48px auto 1.5em auto;
  border-radius: 50%;
  border: 4px solid #4ac2c1;
  z-index: 5;
}
.mini-challenge-top-headline{
  display: block;
  text-align: center;
  color: #5e2d81;
    
  font-size: 1.75em;
}
.mini-challenge-top a{
	color: #5E2D81;
    text-decoration: none;
    font-weight: bold;
 }

.mini-challenge-top a:hover{
	color:  #4AC2C1;
    text-decoration: none;
    font-weight: bold;
 } 



.mini-challenge-top p{ font-size: 1em; margin-bottom: 3em;}
.mini-challenge-top .time{color: #5e2d81; }

/*.mini-challenge-top .btn{ font-size: 1.5em;}*/

@media(min-width:600px){
.mini-challenge-top-headline span.ln2{ white-space: nowrap;}
section.mini-challenge-top{ padding: 8em 0 4em 0;}
.mini-challenge-top-cicle{ margin: -98px auto 2em auto;}
.mini-challenge-top-logo{ position: absolute; left: 30px; top: 30px; width:14%; }
.mini-challenge-top-badge{/* width: 116px;*/ width: 12%;}
}
@media(min-width:860px){
.mini-challenge-top-headline{ font-size: 2.563em;}
}
@media(min-width:1281px){
  .mini-challenge-top .container{ width: 100%; }
}

/* mini challenge section 2*/
section.mini-challenge-mid{
  position: relative;
  
  text-align: center;
  background-color: #f5f5f5;
  padding: 2em 0;
}

.mini-challenge-mid-headline{
  display: block;
  text-align: center;
  color: #5e2d81;
    
  margin-bottom: 0.75em;
  font-size: 1.75em;
}

.mini-challenge-mid-list{
  position: relative;
  list-style: none;
  text-align: center;
  vertical-align: top;
}
.mini-challenge-mid-list .listItem{
  display: block;
  position: relative;
  max-width: 262px;
  width: 95%;
  border: 3px solid #4ac2c1;
  border-radius: 3px;
  margin: auto auto 20px auto;
  vertical-align: top;
}
.mini-challenge-mid-list img{
  display: block;
  max-width: 262px;
  width: 100%;
  margin-bottom: 1em;
}
.mini-challenge-mid-list h3{
  color: #5e2d81;
  font-size: 1.067em;
  padding: 1ex;
  margin-bottom: 0;
}
.mini-challenge-mid-list p{
  font-size: 0.87em;
  padding:0 1ex 1ex 1ex;
}
@media(min-width:600px){
  .mini-challenge-mid-list .listItem{
    display: inline-block;
    position: relative;
    width: 45%;
    margin: auto 0 20px 0;
    min-height: 340px;
  }
  .mini-challenge-mid-list .listItem1,
  .mini-challenge-mid-list .listItem3{
    margin: auto 4% 20px 0%;
   
  }
}
@media(min-width:860px){
  .mini-challenge-mid-headline { font-size: 2.563em; }
  .mini-challenge-mid-headline .ln2{ white-space: nowrap;}
  .mini-challenge-mid-list .listItem{
    display: inline-block;
    width: 20%;
     min-height: 370px;
  }
  .mini-challenge-mid-list .listItem1,
  .mini-challenge-mid-list .listItem2,
  .mini-challenge-mid-list .listItem3{
    margin-right:1%;
  }
}
@media(min-width:1000px){
    .mini-challenge-mid-list .listItem{
     min-height: 350px;
  }
}


/* mini challenge section 3*/
section.mini-challenge-bot{
  position: relative;
  
  text-align: center;
  padding: 2em 0;
  background-color: #4ac2c1;
}

.mini-challenge-bot-headline{
  position: relative;
  display: block;
  text-align: center;
  color: #ffffff;
    
  margin-bottom: 0.75em;
  font-size: 1.75em;
  margin-left: 1.5em;
 /* font-size: 2.563em;*/
}
.mini-challenge-bot-headline span.clock{
  position: relative;
  display: inline-block;
}
.mini-challenge-bot-headline span.clock:before{
  position: absolute;
  top: 0.05em;
  left: -1.5em;
  display: block;
  content: ' ';
  background-image: url(../img/mini-chal-clock.png);
  width: 1em;
  background-size: cover;
  height: 1em;
}
.mini-challenge-bot-headline span.ln2{
  display: block;
}

.mini-challenge-bot img{
  width: 100%;
  margin-bottom: 2em;
}
.mini-challenge-bot p{
  position: relative;
  text-align: center;
  color: #1c8887;
  margin: 0;
}
.mini-challenge-bot a.link--purple:link,
.mini-challenge-bot a.link--purple:visited{
  color: #5e2d81;
  text-decoration: none;
}
.mini-challenge-bot a.link--purple:hover,
.mini-challenge-bot a.link--purple:focus,
.mini-challenge-bot a.link--purple:active{
  text-decoration: underline;
  color: #fff;
}

.mini-challenge-bot a.link--teal:link,
.mini-challenge-bot a.link--teal:visited{
  color: #1c8887;
  font-weight: bold;
  text-decoration: none;
}
.mini-challenge-bot a.link--teal:hover,
.mini-challenge-bot a.link--teal:focus,
.mini-challenge-bot a.link--teal:active{
  text-decoration: underline;
  color: #fff;
}

    p#timeline-terms{text-align: center;}
	p#timeline-terms a{font-size: 9px; text-decoration: none; color: #167776;}



@media(min-width: 480px){
  .mini-challenge-bot-headline span.ln2{
  display: inline;
}

}

@media(min-width:860px){
  .mini-challenge-bot-headline { font-size: 2.563em; }
  
  p#timeline-terms{text-align: right;}

p#timeline-terms a{ font-size: 11px;}

}


/* Challenges Modal*/
.btn-close---modal{ /* this should be global */ 
  position: relative; float: right; 
  cursor: pointer;
}
i.fa-close{ /* this should be global */ 
  font-family: 'FontAwesome'; margin-right: 1ex; }

#modal-mini-challenges{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  padding: 20px;
  overflow: scroll;
  text-align: left;
  color: #5e2d81;
  
  font-size: 0.800em;
}




#modal-mini-challenges .challenges{
  position: relative;
  display: block;
  max-width: 450px;
  width: 100%;
  clear: both;
  padding: 1em 0;
  margin: auto;
}
 .challenges dt{
  font-weight: 700;
 }
.challenges dd{
    margin: 0 0 1em 0;
    line-height: 1.2em;
}

/* ************************************************************************ */
/* IMPACT page  */
/* ************************************************************************ */
/* ************************************************************************ */
/* banner section 1 */
section.banner-impact,
section.banner-impact-new{
  position: relative;
  
  text-align: center;
  background: url(../img/impact-banner-bck.jpg) top center;
  padding: 4em 0 4em 0;
}
section.banner-impact-new{
  background-image: none;
  background-color: #e9dff0;
}
.banner-impact .container{
  background-color: #f5f5f5;
  border-radius: 7px;
  border: 4px solid #4ac2c1;
  max-width: 1111px;
  width: 98%;
}

.banner-impact-new-headline{
    display: block;
  text-align: center;
  color: #602D81;
    
  /*font-size: 1.75em;*/
}

section.banner-impact-new h3{
	color: #602D81;
    font-size: 1.3em;
    font-weight: 200;
    letter-spacing: normal;
	 }

section.banner-impact-new iframe{
    width:90%;/*width:320px;*/
    height:180px;
    border: 8px solid #4AC2C1;
}
@media(min-width:500px){
  section.banner-impact-new iframe{ 
    width:480px;
    height:270px;
  }
}
@media(min-width:760px){
  section.banner-impact-new iframe{ 
    width:640px;
    height:360px;
  }
}
@media(min-width:990px){
  section.banner-impact-new iframe{ 
    width:760px; 
    height:428px;
  }
}


.banner-impact-logo{
  position: relative;
  display: block;
  margin: auto auto 1em auto;
  max-width: 317px;
 /* width: 98%;*/
  z-index: 1;
}
.banner-impact-badge{
  position: absolute;
  right: 25px;
  top: -20px;
  max-width: 116px;
/*  width: 95px;*/
width: 20%;
  z-index: 2;
}
.banner-impact-cicle{
/*  position: absolute;
  top: -98px;
  left: 50%;
  margin-left: -98px;*/
  clear: both;
  position: relative;
  width: 20%;
  max-width: 197px;
  margin: -48px auto 1.5em auto;
  border-radius: 50%;
  border: 4px solid #4ac2c1;
  z-index: 5;
}
.banner-impact-headline{
  display: block;
  text-align: center;
  color: #5e2d81;
    
  font-size: 1.75em;
}
.banner-impact-headline span{white-space: nowrap;}

.banner-impact p{ font-size: 1em; }
.banner-impact .time{color: #5e2d81; margin-bottom: 3em;}

/*.banner-impact .btn{ font-size: 1.5em;}*/

@media(min-width:600px){
  section.banner-impact{padding: 8em 0 4em 0;}
.banner-impact-cicle{margin: -98px auto 2em auto;}
.banner-impact-logo{ position: absolute; left: 30px; top: 30px; width:14%; }
.banner-impact-badge{/* width: 116px;*/ width: 12%;}
}
@media(min-width:860px){
.banner-impact-headline{ font-size: 2.563em;}
}
@media(min-width:1281px){
  .banner-impact .container{ width: 100%; }
}

/* pie chart section 2 */
section.allGifts{
  position: relative;
  
  text-align: center;
  background-color: #f5f5f5;
  padding: 2em 0;
}
section.allGifts .container{
  max-width: 1300px;
}
.allGifts-headline{
  display: block;
  text-align: center;
  color: #5e2d81;
    
   margin-bottom: 0.75em;
}
.allGifts-pie{
  display: block;
  max-width: 1277px;
  width: 98%;
  margin: auto;
}

section.supporters{
  position: relative;
  
  text-align: center;
  color: #fff;
  background-color: #69cccb;
  padding: 2em 0;
}
.supporters-headline{
  display: block;
  text-align: center;
  color: #fff;
    
}
.supporters-headline .desktop{display: none}

/*Incase IE9 or older  no animation*/
  .suppoters--scroll{ height: auto; position: relative; display: block; }
  .suppoters--scroll ul{ position: relative; display: block; }
/* End of no animation code */

/* animation for cool browsers */
.cssanimations .suppoters--scroll {
 height: 200px; 
 overflow: hidden;
 position: relative;
}
.cssanimations .suppoters--scroll ul {
 position: relative;
 width: 100%;
 height: 700%;
 margin: 0;
 text-align: center;
 /* Starting position */
 -moz-transform:translateY(-200%);
 -webkit-transform:translateY(-200%); 
 transform:translateY(-200%);
 /* Apply animation to this element */  
 -moz-animation: scrollList 80s linear infinite;
 -webkit-animation: scrollList 80s linear infinite;
 animation: scrollList 80s linear infinite;
}

.suppoters--scroll ul li{
    width: 40%;
    float: left;
    margin: 0 5%;
    height: 2.6em;
    list-style: none;
    text-align: center;
    font-size: .75em;
    font-weight: 300;
}


@media(min-width:600px){
  .supporters-headline .desktop{display: inline;}
  .suppoters--scroll ul li{
      width: 20%;
      margin: 0 2.5%;
  }
}
@media(min-width:860px){
  .suppoters--scroll ul li{
     font-size: 1em;
  }
}

/* ************************************************************************ */
/* givenow page  */
/* ************************************************************************ */
/* ************************************************************************ */
.thank-you-msg.givenow-headline{
  max-width: 770px;
  float: none;
  margin: auto;
}
#givenowform p#errmsg{
  display: block;
  margin-top: 2em;
  color: #c00;
  text-align: center;
}
.thank-you-msg.givenow-headline .ln3{white-space: nowrap;}
/* ************************************************************************ */
/* givenow thank you page  */
/* ************************************************************************ */
/* ************************************************************************ */
.banner-thankyou-headline{
  display: block;
  text-align: center;
      color: #5e2d81;
    
      margin-bottom: 0.75em;
}

.thankyou-msg .copy,
.socialicon--thankyou{
  color: #222;
  font-size: 75%;
  display: block;
  max-width: 600px;
  margin: 1em auto;
}
.thankyou-msg h3 .ln{
  white-space: nowrap;
}
.thankyou-msg .copy--left{
  text-align: left;
}
.thankyou-msg .copy--center{
  text-align: center;
}
.socialicon--thankyou{
  text-align: center;
}
.socialicon--thankyou li{
  display: inline-block;
  margin: 1em;
}
.socialicon--thankyou li a:link,
.socialicon--thankyou li a:visited {
  font-size: 60px;
  color: rgb(94, 45, 129);
  line-height: 1.2;
  text-decoration: none;
}



/* ************************************************************************* */

/* Move it (define the animation) */
@-moz-keyframes scrollList {
 0%   { -moz-transform: translateY(-200%); }
 100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes scrollList {
 0%   { -webkit-transform: translateY(-200%); }
 100% { -webkit-transform: translateY(100%); }
}
@keyframes scrollList {
 0%   { 
 -moz-transform: translateY(-200%); /* Firefox bug fix */
 -webkit-transform: translateY(-200%); /* Firefox bug fix */
 transform: translateY(-200%);    
 }
 100% { 
 -moz-transform: translateY(100%); /* Firefox bug fix */
 -webkit-transform: translateY(100%); /* Firefox bug fix */
 transform: translateY(100%); 
 }
}

/************DJ CODE END*******************/
/* Give Now Page 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.thank-you-msg {
   font-size: 24px;
   
   color: rgb(94, 45, 129);
   line-height: 1.2;
   text-align: center;
    padding: 30px 0px;
}
.headerborder
{
	background-color: rgb(233, 223, 240);
	width: 100%;
	height: 62px;
	position: absolute;
	top: 70px;
}
.thetext
{
	position: relative;
	top: 0;
	left: 24px;
	display: inline-block;
}
.givenow-heading img, .givenow-heading h4{
	display:inline-block;
	vertical-align: middle;
}
.givenow-heading h4{
	font-size: 48px;
	
	color: rgb(94, 45, 129);
	line-height: 1.2;
	padding-left: 20px;
	margin-bottom: 0;
}
.form-givenow
{
	margin: 20px 100px;
}
.form-givenow select {
   font-size: 16px;
   line-height: 1.5;
   -webkit-appearance: none;
   -moz-appearance: none;
	border-width: 1px;
	border-color: rgb(143, 133, 174);
	border-style: solid;
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
    padding: 0px;
    background: url(../img/arrow-down.png) no-repeat;
    background-position: 98% center;
    cursor: pointer;
	padding: 0px 20px 0 5px;
}
.form-givenow select::-ms-expand {
  /* This works for IE10 and up to remove the select arrow.*/
    display: none;
}
.form-givenow select#country{
  /* this keeps the select from blowing out the side on mobile */
  width: 100%;
}
.your-gift {
	font-size: 28.523px;
	
	color: rgb(94, 45, 129);
	font-weight: bold;
	line-height: 1.262;
	margin-top: 30px;
}
.content p {
  font-size: 18px;
  
  color: rgb(51, 51, 51);
  line-height: 1.262;
}
.content .star
{
	font-size: 18px;
	
	color: rgb(94, 45, 129);
	line-height: 1.136;
}
.billig-different, .anonymous {
  font-size: 16px;
  
  color: rgb(94, 45, 129);
  line-height: 1.341;
}
p.example{
  font-size: 14px;
  
  color: rgb(50, 50, 50);
  text-align: left;
}
.expire-date h5{
  margin-bottom: 0.05em;
      font-size: 18px;
    
    color: rgb(51, 51, 51);
    line-height: 1.262;
}
.expire-date .columns{
  margin-left: 0;
}
input[type="text"], textarea {
	border-width: 1px;
	border-color: rgb(143, 133, 174);
	border-style: solid;
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	width: 100%;
	font-size: 16px;
	
}
input[name="cvc"]
{
	width:20%;
}
input[name="gift"], textarea
{
	width: 30%;
}
.content input[type="submit"] {
	background-color: rgb(94, 45, 129);
	border-radius: 5px;
	box-shadow: 3px 3px rgb(74, 194, 193);
	font-size: 30px;
	
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: center;
	width: 459px;
	height: 79px;
    margin: 10px auto;
    display: block;
}

::-moz-placeholder { /* Firefox 19+ */
	font-size: 16px;
	
	color: rgb(50, 50, 50);
	line-height: 1.341;
	opacity:1;
}
:-ms-input-placeholder { /* IE 10+ */
	font-size: 16px;
	
	color: rgb(50, 50, 50);
	line-height: 1.341;
}
:-moz-placeholder { /* Firefox 18- */
	font-size: 16px;
	
	color: rgb(50, 50, 50);
	line-height: 1.341;
	opacity:1;
}
select, option { 
	font-size: 16px;
	
	color: rgb(50, 50, 50);
	line-height: 1.341; 
	}
/* Chrome/Opera/Safari */
::-webkit-input-placeholder
{
	font-size: 16px;
	
	color: rgb(50, 50, 50);
	line-height: 1.341;
}

#Show
{
	display:none;
}
/*Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer
{
	background-color: rgb(94, 45, 129);
	padding:2.467em 0;
}

.logo-footer{
  display: block;
  max-width: 233px;
   margin: auto;
}
.logo-footer img{width: 100%;}

footer .contact {
	font-size: 1em;
  padding-top: 0.25em;
	color: rgb(255, 255, 255);
	line-height: 1.2em;
	text-align: left;
}
footer .contact p{ padding: 0; margin-bottom: 0.35em;}
footer .contact p.contact-block01{
  font-size: 1.5em;
  font-weight: 400;
}
/*footer .contact p.contact-block01 a{ font-size: 0.750em; }
*/
footer .contact a:link,
footer .contact a:visited{
	color: rgb(255, 255, 255);
  text-decoration: underline;
  white-space: nowrap;
}
ul.socialicon{
  clear: both;
	list-style:none;
	padding:0;
	margin-bottom: 0px;
/*  margin-left: 80px;*/
  text-align: center;
}
.socialicon li{
	display:inline-block;
	height: 29px;
	padding:0 5px;
}
.socialicon li a{
	font-size: 30px;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-decoration:none;
}

@media (max-width: 876px){
  footer .contact p.contact-block01{
  font-size: 1.333em;
  font-weight: 400;
}
}

@media (max-width:600px) {
  footer .container{
    padding: 4%;
  }
  footer .contact.column {
    text-align: center;
    font-size: 75%;
    margin-bottom: 2em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  footer .column{
    text-align: center;
    margin: auto;
    float: none;
  }
}
@media (min-width:550px) {
.logo-footer {margin-left: 0}
}



/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}






/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than tablet */
@media only screen and (max-width:950px) {
	
	.banner-main .banner-font {
		font-size: 42px;
	}
	.banner-font-small {
		font-size: 32px;
	}
	.form-givenow {
		margin: 20px 0;
	}
}
/* Larger than phablet (also point when grid becomes active) */
@media only screen and (max-width:750px) {
	.banner-main .banner-font {
		font-size: 36px;
	}
	.banner-font-small {
		font-size: 24px;
	}
	.form-givenow select[name="make-gift"] {
		padding: 0px 20px 0 5px;
	}
	input[name="gift"], textarea {
		width: 35%;
	}
	.form-givenow select[name="country"],.form-givenow select[name="billing-country"] {
		padding: 0px 5px;
	}
	.thank-you-msg {
		font-size: 24px;
		padding:40px 0px
	}
	.givenow-heading h4 {
		font-size: 35px;
		padding-left:15px;
	}
	ul.socialicon{
	/*	margin-top: 7.5rem;*/
	}
}
/* Larger than mobile */
@media only screen and (max-width:600px) {
	header .six.columns {
		width: 100%;
		margin-left: 0;
	}
	.content, .thankyou-msg {
		width: 95%;
		margin: 0px auto;
	}
}
/* Larger than mobile */
@media only screen and (max-width:550px) {
    .form-givenow select[name="make-gift"],  .form-givenow select[name="campaign-name"] {
    width: 100%;
  }
	.banner-main.banner-font {
		font-size: 30px;
	}
	.banner-font-small {
		font-size: 20px;
	}
	.content .banner-font {
		font-size: 40px;
		padding: 20px;
	}
	.banner-font-big {
		font-size: 50px;
	}
/*	footer .question {
		font-size: 24px;
	}*/
/*	footer .contact {
		font-size: 20px;
	}*/
	.socialicon li a {
		font-size: 24px;
	}
	input[name="gift"], textarea {
		width: 50%;
	}
	.thetext {
		left: 10px;
	}
	.givenow-heading h4 {
		font-size: 26px;
		padding-left: 10px;
	}
	.content input[type="submit"]
	{
		width:95%;
	}
	.thank-you-msg {
		font-size: 20px;
		padding:20px 0px
	}
	ul.socialicon {
		margin-top: ;
        margin: 1.5rem auto 0 auto;
    text-align: center;
	}
	.banner-impact-headline span {
		white-space: normal;
	}
}

/* mobile */
@media only screen and (max-width:420px) {
	.banner-main .banner-font {
		font-size: 20px;
	}
	.banner-font-small {
		font-size: 18px;
	}
	.content .banner-font {
		font-size: 30px;
	}
	.banner-font-big {
		font-size: 40px;
	}
	input[name="gift"], textarea {
		width: 100%;
	}
	.billig-different {
		line-height: 0.9;
	}
	input[name="different-billing"], input[name="anonymous"]
	{
		margin-bottom:0;
	}
	.headerborder {
		top: 30%;
	}
	.givenow-heading img{
		width:50%;
	}
}
@media only screen and (max-width:350px) {
	.headerborder {
		top: 25%;
	}
	.givenow-heading img {
		width: 40%;
	}
	.header-menu a:link, .header-menu a:visited {
		font-size:1.2em;
	}
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
