/*! NYU CSS 2.0 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; 
    color: #222;
    line-height: 1.4;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-family: 'Gotham SSm A', 'GothamSSm B', 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
 /* font-weight: 300; */
  font-family: 'Gotham A', 'Gotham B', 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;

}
h1 { font-size: 4.0rem; line-height: 1.2;}
h2 { font-size: 3.2rem; line-height: 1.25;}
h3 { font-size: 3.0rem; line-height: 1.3;}
h4 { font-size: 2.4rem; line-height: 1.35;}
h5 { font-size: 1.8rem; line-height: 1.5;}
h6 { font-size: 1.5rem; line-height: 1.6;}

strong{font-weight: 700;}

/* Larger than tablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 3.2rem; }
  h3 { font-size: 3.0rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }
.sr-text{
  position: absolute;
  left: -999em;
  top: -999em;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #5E2D81; text-decoration: none; }
a:hover {
  color: #4AC2C1; text-decoration: none; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input.btn,
a.btn:link,a.btn:visited{
  position: relative;
  color: #ffffff;
  border: 0 none;
  background: #5e2d81 url('../img/common/btn-big.png') 100% -20px no-repeat;
  padding: 1em 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
 /* white-space: nowrap;*/
  width: 90%;
   margin: auto;
  display: inline-block;
  max-width: 425px;
  line-height: 1em;
    box-shadow: 4.589px 6.553px 18px 0px rgba(36, 6, 54, 0.43);
}

.btn-inner{}



input.btn:hover,
a.btn:hover,a.btn:focus,a.btn:active{
   background-color: #824CA9;
   background-position: 100% -115px;
}
input.btn:active,
a.btn:active{
  background-color: #3E0F61;
}

input.btn-centered,
.btn-centered{
  display: block;
  margin: auto;
  width: 95%;
}
input.btn.btn-green,
a.btn.btn-green:link,a.btn.btn-green:visited{
background-image: url('../img/common/btn-big-green.png');
}

@media(min-width:600px){
  input.btn,
  a.btn:link,a.btn:visited{
    font-size: 1.5em;
  }
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  margin-bottom: .5rem;
  font-weight: 400; }
fieldset {
  border: 0;
    margin: 0;
    padding: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; 
  margin-right: 1ex; 
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }
/*
 * Allow only vertical resizing of textareas.
 */
/**/
textarea {
    resize: vertical;
    display: block;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* common icons.
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fa-container{
    border: 1px solid #4bc2c0;
    color: #4bc2c0;
    background-color: #fff;
    text-align: center;
    width: 2.25ex;
    display: inline-block;
    letter-spacing: 0;
    cursor: pointer;
    font-size: 0.65em;
    position: relative;
    top: -0.5em;
}
.fa-container:hover{
  border-color: #1D8180;
  color: #1D8180;
  background-color: #fff;
}

/* popup NOT USED
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.popup-block{
  display: none;
  position: fixed;
  top: 25%;
  left: 50%;
  margin-left: -150px;
  width: 300px;
}
/* END Not USED  */
/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/*Menu & Container*/

.container {
  display: block;
  position: relative;
  max-width: 1280px;
  width: 100%;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

.logo{ display: block; padding-bottom: 1em;}
.comingSoon header .six.columns.logo{ padding-right: 4%;}
/*.logo a{width: 100%;}*/
.logo img{ 
  display: block; 
  max-width: 210px; 
  width: 100%; 
  margin:auto;
  float: left; }
.logo span.headernyuoneday{
  display: block;
  float: right;
  width:calc(100% - 124px);
  line-height: 126px;
  text-align: center;
  vertical-align: middle;
  
  font-weight: 400;
  font-size: 2em;
  color: #4ac2c1;
}
.header-menu-btn{
  position: absolute;
  top: 1.5em;
  right: 0.75em;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  
  font-weight: 400;
  font-size: 1.2em;
  color: rgb(94, 45, 129);
  line-height: 1em;
  display: inline-block;
}
.header-menu-btn:active,.header-menu-btn:focus,.header-menu-btn:hover{
  color: #4ac2c1;
}
i.fa-bars{ /* this should be global */ 
  font-family: 'FontAwesome'; margin-right: 0.5ex; }

.header-menu{
  display: none;
  width: 100%;
  clear: both;
  margin: 0;
  padding: 0;
}
.header-menu .menu-item{
    list-style: none;
    margin: 0;
    padding: 0 2% 0 2%;
    display: block;
    text-align: left;
    line-height: 2.2em;
    border-left: 124px solid #602D81;
}
.header-menu a:link,
.header-menu a:visited{
  /*border-left: 4px solid #1D8180;*/
  position: relative;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
  text-transform: uppercase;
  text-decoration: none;
  
  font-weight: 400;
  font-size: 1.2em;
  color: rgb(94, 45, 129);
  line-height: 1em;
  display: inline-block;
}
.header-menu a:hover,
.header-menu a:focus,
.header-menu a:active{ color: #5E2D80;}

.header-menu a:link:before,
.header-menu a:visited:before{
  position: absolute;
  top: 0;
  left: -0.5ex;
  content: '';
  display: block;
  width: 4px;
  height: 1em;
  background: url('../img/common/header-li.gif') 0 0;
}
.header-menu a:hover:before,
.header-menu a:focus:before,
.header-menu a:active:before{
  background-position: 0 -26px;
}




@media only screen and (min-width:430px){
  .header-menu .menu-item{
      border-left: 200px solid #602D81;
  }
}
@media only screen and (min-width:600px){
  .container {
    display: block;
    position: relative;
    max-width: 1280px;
    width: 100%;
    padding: 0 1.71%; /*1.7=22px*/
    margin: auto;
    box-sizing: border-box;
  }
 /* .logo.six.columns{ float: left; width: 65%; }*/

  .six.columns.logo{
    width: 35%;
  }
 .six.columns.header-menu{
      width: 65%;
 }
  .comingSoon header .six.columns.logo{width: 25%; margin-left: 0;}
  .logo img{ margin-bottom: 1em; margin-top: auto; }

 .header-menu-btn{display: none;}


  .header-menu{ 
    clear: none;
    float: right;
    height: 126px;
    display: inline;
    width: 30%;
    padding-top: 0.75em;
        text-align: right;
     }

  .header-menu .menu-item{
    padding: 0 2%;
    border-left: 0 none; 
    line-height: 2.65em;
    text-align: left;
    float: none;
    display: block;
  }
  .header-menu a:link,
  .header-menu a:visited{
  }
   
}
@media only screen and (min-width:890px){
  .logo span.headernyuoneday{ font-size: 2.5em;}  
  .logo img{ float: left; }
  .header-menu .menu-item{
    list-style: none;
    margin: 0;
    padding: 0 2%;
    float: none;
    display: inline-block;
    text-align: center;
    line-height: 8em;
  }
  .header-menu a:link,
  .header-menu a:visited{/* font-size: 1.5em; */}
}

/*Countdown*/

section.countdown {
  position: relative;
  background-color: rgb(74, 194, 193);
  background-image: url(../img/common/counter-bkg.png);
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: center top;
  padding:10px 0;
}

body.index{ padding-top: 40px; }
body.index section.countdown{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.countdown p {
  font-size:0.867em;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 1.4;
  text-align: center;
  margin-bottom:0;
}
#countdown-holder{ }
#countdown-holder>span{white-space: nowrap;}
#countdown-holder .label{}

.countdown {
	background-color: rgb(74, 194, 193);
	padding:10px 0;
} 
@media only screen and (min-width:860px){
  body.index{padding-top: 60px;}

  .countdown p {
    font-size: 1.867em;
  }
}






.banner-main img{
	width: 100%;
	position: relative;
	z-index: 1;
}

.banner-main .overlay {
	background-color: rgba(94, 45, 129, 0.859);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:2;
}
.banner-font{
	text-align: center;
}
.banner-main .banner-font{
	top: 35%; 
	position: absolute; 
	left: 0px; 
	right: 0px; 
	margin-left: auto; 
	margin-right: auto;
	color: rgb(255, 255, 255);
	line-height: 0.875;
	text-align: center;
	font-size: 64px;
}
.content-bkg-img {
	background-image: url("../img/vector-bkg.png");
  background-repeat: no-repeat;
	background-size: cover;
}
.banner-font-small{
	font-size:48px;	
}
.content .banner-font {
	font-size: 46px;
	color: rgb(94, 45, 129);
	line-height: 1.565;
	display:block;
	padding: 90px;
}
.banner-font-big
{
	font-size:60px;	
}
.content{
	margin-bottom:70px;
}

/* banner section 1 */
.index section.banner{
  position: relative;  
  text-align: center;
  background: url(../img/main-banner-hp-dayof.jpg) top center;
  min-height: 200px;
  background-size: cover;
}
.index section.banner{padding-bottom: 10%;}/* cs */
.index .banner-headline{
  position: relative;
  padding: 1.5em 0;
  margin-left: auto; 
  margin-right: auto;
  color: rgb(255, 255, 255);
  text-align: center;
  }
.index .banner-headline .ln{
  display: block;
  white-space: nowrap;
}
.index .banner-headline.cs .ln{ display: block; white-space: normal; }
.ln .mobileBreak{}
.index .banner-headline.cs .ln2{ display: none;}
.index .banner-headline.cs {
    position: absolute;
    top: -2.5em;
    right: 0;
    left: 0;
   
      background: url(../img/h1-bkg.png) no-repeat ;
    background-size: 100% 100%;
    padding: 0;
     padding: 8% 6% 8.5% 6%;
    margin:0;
    font-size: 200%;
    color: #ffffff;
    font-weight: 500;
}
 

@media(min-width:600px){
.ln .mobileBreak{display: none;}
  .index section.banner{  min-height: 270px;}
  .index .banner-headline.cs{
    position: absolute;
    top: -3em;
    right: 0;
    left: auto;
    background: url(../img/h1-bkg.png) no-repeat ;
    background-size: 100% 100%;
    padding: 3.5% 6% 4% 6%;
    margin: 0;
    color: #fff;
    font-size: 150%;
    font-weight: 500;
    text-shadow: 0px 6px 5px rgba(39, 7, 49, 0.35);
  }
  .index .banner-headline.cs .ln{
    white-space: nowrap;
  }
  .index .banner-headline.cs .ln2{ display: block; font-size: 75%;}

}


@media(min-width:860px){
  .index section.banner{height: 360px;padding-top: 2.5em;}
  .index .banner-headline{ font-size: 64px;}
  .index .banner-headline .ln{ display: block; }
  .index .banner-headline.cs{ font-size: 200%; top: -4em;}
}
@media(min-width:1040px){
 .index .banner-headline.cs{ font-size: 240%;}
}
@media(min-width:1200px){
 .index .banner-headline.cs{ font-size: 320%; top: -3.5em;}
}


/* presmessage section 2 */
.index section.presmessage{
  background-color: #582a73;
  display: block;
  position: relative;
  color: #ffffff;
  padding: 3em 0 3em 0 ;
  text-align: center;
}
.index section.presmessage .container{
  padding: 0;
}

.index .presmessage-col{
  display: block;
  float: none;
  width: 90%;
  margin: auto;
}

.index .presmessage-col.presmessage-video{
  width: calc(100% - 2em);
  position: relative;
  padding-left: 2em;
  margin-bottom: 7em;
}

.index .presmessage-video .videoOuterWrap{
  position: relative;
   padding: 1em;
  padding-top: 0;
}
.index .presmessage-video .videoWrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  z-index: 2;
}
.index .presmessage-video .videoWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 4.589px 6.553px 18px 0px rgba(36, 6, 54, 0.43);
}

.block-videoLabel{
  position: relative;
  display: block;
  text-align: center;
  width: 90%;
  min-height: 5em;
  max-width: 510px;
  margin: auto;
  background: transparent url(../img/hp-pressmessage-vid-bkg.png) no-repeat bottom left;
  background-size: 100%;
  color: #fff;
  position: absolute;
  top: 4em;
  bottom: -6em;
  left: 0;
  z-index: 1;
}
.block-videoLabel h2{
  position: absolute;
  bottom: 0;
  left: 2em;
  text-align: left;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1em;
  margin-bottom: 2em;
}
.block-videoLabel h2 .video-title{
  font-size:.875em;
}

.index .presmessage-headline img{ width: 100%;}
@media(min-width:600px){
  .index section.presmessage{
    padding-left: 0;
    padding-right: 2em;
  }

}

@media(min-width:860px){
  .index section.presmessage{
    padding-top: 5.5em;
    padding-bottom: 5.5em;
  }
  .index .presmessage-col{
    float: left; 
    width: 57%; 
    max-width: 100%;
  }
    .index .presmessage-col.presmessage-video{
    width: calc(57% - 2em);
    position: relative;
    padding-left: 2em;
  }
  .index .presmessage-col.presmessage-text{
    width: 38.7%; 
    float: right; 
    text-align: left;
  }
}

@media(min-width:1280px){
  .block-videoLabel{
    top: auto;
    height: 10em;
    background: url(../img/h1-bkg.png) no-repeat ;
    background-size: 100% 100%;
  }
  .block-videoLabel h2{
    left:3em;
  }
}

/* donors section 3 */
.index section.donors{
  background: #fff url(../img/hp-donor-bkg.jpg) top left;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
   padding: 3em 0 3em 0 ;
  text-align: right;
}

.index section.donors .container{
  padding: 0;
}

.index .donors-col{
  display: block;
  float: none;
  width: 90%;
  margin: auto;
}
.index .donors-thermometer img{ max-width: 100%;} 
.index iframe.donors-thermometer{
    height: 586px;
    width: 100%;
    margin: auto;

}
.index .donors-text{ font-size: 1em;}
.index .donors-headline{ text-transform: uppercase; }
.index .donors-headline img{ width: 100%;}


@media(min-width:500px){
.index iframe.donors-thermometer{
  width: 90%;
}
 
  
}

@media(min-width:860px){
  .index section.donors{
    padding-top: 5.5em;
    padding-bottom: 5.5em;
  }
  .index iframe.donors-thermometer,
  .index .donors-col{ float: left; width: 45%; max-width: 100%; }
  .index .donors-col.donors-text{
    width: 43%;
    line-height: 2em;
    float: right;
    margin-right: 3.25em; 
  }
}


/*Small section*/
.index section.smSection{
  position: relative;
  background-image: url(../img/hp-sm-section-bkg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 1.5em;
      line-height: 1.22em;
  padding: 1em;
  text-align: center; 
}
.index section.smSection a:link,
.index section.smSection a:visited{
  color: #ffffff;
}
.index section.smSection a:hover,
.index section.smSection a:focus{
  color: #4ac2c1;
}


/* social section 4 */
.index section.social{
  padding: 2em 0;
  text-align: center;
}

.index .social-headline{
  display: inline-block;
  padding: 1em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0.75em;
  background: url(../img/h1-bkg.png) no-repeat ;
    background-size: 100% 100%;
}
/* ************************************************************************ */
/* Social Wall  */
/* ************************************************************************ */
/* ************************************************************************ */
.dcsns{
  background-color: transparent !important;
}
.dcsns ul.stream{ width:226px; }

@media(min-width:500px){
  .dcsns ul.stream{ width:480px; }
}
@media(min-width:760px){
  .dcsns ul.stream{ width:750px; }
}
@media(min-width:990px){
  .dcsns ul.stream{ width:960px; }
}
.stream li {
      margin: 0 6px 12px 6px!important;
}
.stream li.dcsns-twitter .section-intro, .filter .f-twitter a:hover, .filter .f-twitter a.iso-active {
    background-color: #f5f5f5!important;
}
.stream li.dcsns-facebook .section-intro, .filter .f-facebook a:hover, .filter .f-facebook a.iso-active{
  background-color: #f5f5f5!important;
}
.stream li.dcsns-instagram .section-intro, .filter .f-instagram a:hover, .filter .f-instagram a.iso-active{
  background-color: #f5f5f5!important;
}

.stream li .section-intro,
.stream li.dcsns-facebook .section-intro a,
.stream li.dcsns-twitter .section-intro a, 
.stream li.dcsns-twitter .section-intro a:hover{
  color: #a1a1a1!important;
}
.stream li{
  box-shadow: 0 0 0 transparent!important;
  border-radius: 0!important;
}
.stream li .icon {
    position: absolute!important;
    left: 8px!important;
    bottom: 5px!important;
    z-index: 2!important;
    height: 20px!important;
}
span.section-intro{    border-top: 1px dashed #e6e6e6!important;}

/* ************************************************************************ */
/* CHALLENGEs page  */
/* ************************************************************************ */
body.challenges section.banner{
  display: block;
  position: relative;  
  text-align: center;
  background: url(../img/main-banner-givenow-m.jpg) no-repeat;
  min-height: 200px;
  background-size: 100%;
  color: #ffffff;
  padding-bottom: 54%;
}

/* ************************************************************************ */
/* IMPACT page  */
/* ************************************************************************ */
/* ************************************************************************ */


/* ************************************************************************ */
/* givenow page  */
/* ************************************************************************ */
/* ************************************************************************ */
body.givenow .row > .twelve.columns{
    max-width: 850px;
    margin: auto;
    display: block;
    float: none;
    padding: 1em;
}
body.givenow .bg-white{
  background-color: #ffffff
}
body.givenow .bg-lightpurple{
  background-color: #f9f3fc
}

body.givenow section.banner{
  position: relative;  
  text-align: center;
  background: url(../img/main-banner-givenow-m.jpg) no-repeat;
/*  min-height: 200px;*/
  background-size: 100%;
  color: #ffffff;
  padding-bottom: 54%;
}
body.givenow section.banner{}

.form-givenow{
  width: 100%;
}
#givenowform p#errmsg{
  display: block;
  margin-top: 2em;
  color: #990000;
  text-align: center;
}
body.givenow p{
    display: block;
    clear: both;
}
p.p-payAmount label{
  display: inline-block;
  width: 9em;
}
p.p-other-fund label{
  display: block;
  margin-bottom: 1.5rem;
}
p.p-radio{
  margin-bottom: 0.25em;
}
p.p-radio.p-radio-last{
  margin-bottom: 2.5rem;
}
.p-radio input{
  float: left;
}
.p-radio label{ 
  float: left;
 }

.thank-you-msg {
   font-size: 24px;
   
   color: rgb(94, 45, 129);
   line-height: 1.2;
   text-align: center;
    padding: 30px 0px;
}
.headerborder
{
  background-color: rgb(233, 223, 240);
  width: 100%;
  height: 62px;
  position: absolute;
  top: 70px;
}
.thetext
{
  position: relative;
  top: 0;
  left: 24px;
  display: inline-block;
}
.givenow-heading img, .givenow-heading h4{
  display:inline-block;
  vertical-align: middle;
}
.givenow-heading h4{
  font-size: 48px;
  
  color: rgb(94, 45, 129);
  line-height: 1.2;
  padding-left: 20px;
  margin-bottom: 0;
}

.form-givenow select {
   font-size: 16px;
   line-height: 1.5;
   -webkit-appearance: none;
   -moz-appearance: none;
  border-width: 1px;
  border-color: rgb(143, 133, 174);
  border-style: solid;
  padding: 0px;
  background: #ffffff url(../img/common/arrow-down.png) no-repeat;
  background-position: 97% center;
  cursor: pointer;
  padding: 0px 30px 0 5px;
  margin-bottom: 0;
}
.form-givenow select::-ms-expand {
  /* This works for IE10 and up to remove the select arrow.*/
    display: none;
}
.form-givenow select#country,
.form-givenow select#billing-country{
  /* this keeps the select from blowing out the side on mobile */
  width: 100%;
}
.your-gift {
  
  color: rgb(94, 45, 129);
  font-weight: bold;
  line-height: 1.262;
  margin-top: 30px;
}
.content p {
  font-size: 18px;
  
  color: rgb(51, 51, 51);
  line-height: 1.262;
}
.content .star{
  font-size: 18px;
  line-height: 1.136;
}
.billig-different, .anonymous {
  font-size: 16px;
  
  color: rgb(94, 45, 129);
  line-height: 1.341;
}
p.example{
  font-size: 14px;
  
  color: rgb(50, 50, 50);
  text-align: left;
}
.expire-date h5{
  margin-bottom: 0.05em;
      font-size: 18px;
    
    color: rgb(51, 51, 51);
    line-height: 1.262;
}
.expire-date .columns{
  margin-left: 0;
}
input[type="text"], textarea {
  border-width: 1px;
  border-color: rgb(143, 133, 174);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  
}
input[name="cvc"]
{
  width:20%;
}
input[name="gift"], textarea
{
  width: 11em;
}

::-moz-placeholder { /* Firefox 19+ */
  font-size: 18px;
  
  color: rgb(50, 50, 50);
  line-height: 1.341;
  opacity:1;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 18px;
  
  color: rgb(50, 50, 50);
  line-height: 1.341;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 18px;
  
  color: rgb(50, 50, 50);
  line-height: 1.341;
  opacity:1;
}
select, option { 
  font-size: 18px;
  
  color: rgb(50, 50, 50);
  line-height: 1.341; 
  }
/* Chrome/Opera/Safari */
::-webkit-input-placeholder
{
  font-size: 18px;
  
  color: rgb(50, 50, 50);
  line-height: 1.341;
}

#Show
{
  display:none;
}



@media (min-width:668px) {
  body.givenow .row > .twelve.columns{
    padding: 1em 4em;
  }
  body.givenow section.banner{
    background-image: url(../img/main-banner-givenow.jpg);
    padding-bottom: 35%;
  }
}



/* ************************************************************************ */
/* givenow thank you page  */
/* ************************************************************************ */
/* ************************************************************************ */
.banner-thankyou-headline{
  display: block;
  text-align: center;
      color: #5e2d81;
    
      margin-bottom: 0.75em;
}

.thankyou-msg .copy,
.socialicon--thankyou{
  color: #222;
  font-size: 75%;
  display: block;
  max-width: 600px;
  margin: 1em auto;
}
.thankyou-msg h3 .ln{
  white-space: nowrap;
}
.thankyou-msg .copy--left{
  text-align: left;
}
.thankyou-msg .copy--center{
  text-align: center;
}
.socialicon--thankyou{
  text-align: center;
}
.socialicon--thankyou li{
  display: inline-block;
  margin: 1em;
}
.socialicon--thankyou li a:link,
.socialicon--thankyou li a:visited {
  font-size: 60px;
  color: rgb(94, 45, 129);
  line-height: 1.2;
  text-decoration: none;
}



/* ************************************************************************* */

/* Move it (define the animation) */
@-moz-keyframes scrollList {
 0%   { -moz-transform: translateY(-200%); }
 100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes scrollList {
 0%   { -webkit-transform: translateY(-200%); }
 100% { -webkit-transform: translateY(100%); }
}
@keyframes scrollList {
 0%   { 
 -moz-transform: translateY(-200%); /* Firefox bug fix */
 -webkit-transform: translateY(-200%); /* Firefox bug fix */
 transform: translateY(-200%);    
 }
 100% { 
 -moz-transform: translateY(100%); /* Firefox bug fix */
 -webkit-transform: translateY(100%); /* Firefox bug fix */
 transform: translateY(100%); 
 }
}

/************DJ CODE END*******************/

/*Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer
{
	background-color: rgb(94, 45, 129);
	padding:2.467em 0;
}

.logo-footer{
  display: block;
  max-width: 233px;
   margin: auto;
}
.logo-footer img{width: 100%;}

footer .contact {
	font-size: 1em;
  padding-top: 0.25em;
	color: rgb(255, 255, 255);
	line-height: 1.2em;
	text-align: left;
}
footer .contact p{ padding: 0; margin-bottom: 0.35em;}
footer .contact p.contact-block01{
  font-size: 1.5em;
  font-weight: 400;
}
/*footer .contact p.contact-block01 a{ font-size: 0.750em; }
*/
footer .contact a:link,
footer .contact a:visited{
	color: rgb(255, 255, 255);
  text-decoration: underline;
  white-space: nowrap;
}
ul.socialicon{
  clear: both;
	list-style:none;
	padding:0;
	margin-bottom: 0px;
/*  margin-left: 80px;*/
  text-align: center;
}
.socialicon li{
	display:inline-block;
	height: 29px;
	padding:0 5px;
}
.socialicon li a{
	font-size: 30px;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-decoration:none;
}

@media (max-width: 876px){
  footer .contact p.contact-block01{
  font-size: 1.333em;
  font-weight: 400;
}
}

@media (max-width:600px) {
  footer .container{
    padding: 4%;
  }
  footer .contact.column {
    text-align: center;
    font-size: 75%;
    margin-bottom: 2em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  footer .column{
    text-align: center;
    margin: auto;
    float: none;
  }
}
@media (min-width:550px) {
.logo-footer {margin-left: 0}
}



/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}






/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than tablet */
@media only screen and (max-width:950px) {
	
	.banner-main .banner-font {
		font-size: 42px;
	}
	.banner-font-small {
		font-size: 32px;
	}
	.form-givenow {
		margin: 20px 0;
	}
}
/* Larger than phablet (also point when grid becomes active) */
@media only screen and (max-width:750px) {
	.banner-main .banner-font {
		font-size: 36px;
	}
	.banner-font-small {
		font-size: 24px;
	}
	.form-givenow select[name="make-gift"] {
		padding: 0px 20px 0 5px;
	}
	input[name="gift"], textarea {
		width: 35%;
	}
	.form-givenow select[name="country"],.form-givenow select[name="billing-country"] {
		padding: 0px 5px;
        margin-bottom: 1.5rem;
	}
	.thank-you-msg {
		font-size: 24px;
		padding:40px 0px
	}
	.givenow-heading h4 {
		font-size: 35px;
		padding-left:15px;
	}
	ul.socialicon{
	/*	margin-top: 7.5rem;*/
	}
}
/* Larger than mobile */
@media only screen and (max-width:600px) {
	header .six.columns {
		width: 100%;
		margin-left: 0;
	}
/*	.content, .thankyou-msg {
		width: 95%;
		margin: 0px auto;
	}*/
}
/* Larger than mobile */
@media only screen and (max-width:550px) {
    .form-givenow select[name="make-gift"],  .form-givenow select[name="campaign-name"] {
    width: 100%;
  }
	.banner-main.banner-font {
		font-size: 30px;
	}
	.banner-font-small {
		font-size: 20px;
	}
	.content .banner-font {
		font-size: 40px;
		padding: 20px;
	}
	.banner-font-big {
		font-size: 50px;
	}
/*	footer .question {
		font-size: 24px;
	}*/
/*	footer .contact {
		font-size: 20px;
	}*/
	.socialicon li a {
		font-size: 24px;
	}
	input[name="gift"], textarea {
		width: 50%;
	}
	.thetext {
		left: 10px;
	}
	.givenow-heading h4 {
		font-size: 26px;
		padding-left: 10px;
	}
	.content input[type="submit"]
	{
		width:95%;
	}
	.thank-you-msg {
		font-size: 20px;
		padding:20px 0px
	}
	ul.socialicon {
		margin-top: ;
        margin: 1.5rem auto 0 auto;
    text-align: center;
	}
	.banner-impact-headline span {
		white-space: normal;
	}
}

/* mobile */
@media only screen and (max-width:420px) {
	.banner-main .banner-font {
		font-size: 20px;
	}
	.banner-font-small {
		font-size: 18px;
	}
	.content .banner-font {
		font-size: 30px;
	}
	.banner-font-big {
		font-size: 40px;
	}
	input[name="gift"], textarea {
		width: 100%;
	}
	.billig-different {
		line-height: 0.9;
	}
	input[name="different-billing"], input[name="anonymous"]
	{
		margin-bottom:0;
	}
	.headerborder {
		top: 30%;
	}
	.givenow-heading img{
		width:50%;
	}
}
@media only screen and (max-width:350px) {
	.headerborder {
		top: 25%;
	}
	.givenow-heading img {
		width: 40%;
	}
	.header-menu a:link, .header-menu a:visited {
		font-size:1.2em;
	}
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
