.thermometer--include{    
	padding-top: 46px; 
	text-align: center;
	width: 100%;
	max-width: 625px;
}

.thermometer{
		display: block;
		position: relative;
	}

	.thermometer--block{
		position: relative;
    margin-left: 1.25em;
	}
.thermometer--block,
	.thermometer--size{
		 height: 464px;
		width: 175px;
	}
	.thermometer--size{
		background-color: transparent; 
		background-image: url(../img/chart/chart-full.png);
		background-position: top center;
		background-repeat: no-repeat;
		margin: 0;
		overflow: visible;
		z-index: 2;
	}

	.thermometer--logo{
		display: block;
		position: relative;
		max-width: 147px;
		width:65%;
		margin:auto;
		z-index: 4;
	}


.thermometer--bkg{
	position: absolute;
    top: -10%;
    left: -110%;
	z-index: 1;
}


	.mercury--mask{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: transparent; 
		background-image: url(../img/chart/chart-empty.png);
		background-position: top center;
		background-repeat: no-repeat;
		z-index: 2;

		border-bottom: #301e59 3px solid;

		-webkit-transition: bottom 4s ease-in;
		-moz-transition: bottom 4s ease-in;
		-ms-transition: bottom 4s ease-in;
		-o-transition: bottom 4s ease-in;
		transition: bottom 4s ease-in;

		-webkit-transition-delay: 3s; /* Safari */
    transition-delay: 3s;
	}

	#numberDonors{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 0.875em;
		font-weight: 700;
		text-transform: uppercase;
		color: #301e59;
	}

	.marker{
		position: absolute;
		font-size: 0.75em;
		left: 0;
		right: 0;
		height: 1px;
		z-index: 3;
		text-shadow: 0px 6px 5px rgba(39, 7, 49, 0.35);
	}
	.marker h2{
		position: absolute;
		left: 102%;
		top: auto;
		white-space: nowrap;
		margin: 0;
		padding: 0;
		color: #ffffff;
		font-weight: normal;
	}

	
	.marker-0{bottom: calc((100% / 5) * 0)}
	.marker-1{bottom: calc((100% / 5) * 1)}
	.marker-2{bottom: calc((100% / 5) * 2)}
	.marker-3{bottom: calc((100% / 5) * 3)}
	.marker-4{bottom: calc((100% / 5) * 4)}
	.marker-5{bottom: calc((100% / 5) * 5)}


	@media(min-width:430px){
		.thermometer--block{
	    margin-left: 80px;
		}
		.marker{
			    font-size: 1em;
		}
	}
	@media(min-width:600px){
		.thermometer--block{
	    margin-left: 110px;
		}
	}
	@media(min-width:860px){
		.thermometer--block{
	    margin-left: 0px;
		}
	}





