.thermometer--include{    
	padding-top: 46px; 
	text-align: center;
	width: 100%;
	max-width: 625px;
}

.thermometer{
		display: block;
		position: relative;
	}

	.thermometer--block{
		position: relative;
		border-bottom: 1px solid #330662;
    padding-bottom: 0.875em;
	}
.thermometer--block,
	.thermometer--size{
		height: 125px;
		width: 100%;
	}
	.thermometer--size{
		background-color: #0f8382; 
		/* background-image: url(../img/chart/chart-full.png); */
		background-position: top center;
		background-repeat: no-repeat;
		margin: 0;
		overflow: visible;
		z-index: 2;
	}

	.thermometer--logo{
		display: block;
		position: relative;
		z-index: 4;
		top: calc(50% - 25px);
		left: 0em;
		width: 100%;
		max-width: 300px;
	}


.thermometer--bkg{
	position: absolute;
    top: -10%;
    left: -110%;
	z-index: 1;
}


	.mercury--mask{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ebebeb; 
/*		background-image: url(../img/chart/chart-empty.png);
		background-position: top center;
		background-repeat: no-repeat;*/
		z-index: 2;

		-webkit-transition: left 4s ease-in;
		-moz-transition: left 4s ease-in;
		-ms-transition: left 4s ease-in;
		-o-transition: left 4s ease-in;
		transition: left 4s ease-in;

		-webkit-transition-delay: 3s; /* Safari */
    transition-delay: 3s;
	}

/*	#numberDonors{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 0.75em;
		font-weight: 700;
		text-transform: uppercase;
		color: #301e59;
	}*/

	.marker{
		position: absolute;
		left: 0;
		bottom: -1.5em;
		height: 1px;
		z-index: 3;
		text-shadow: 0px 6px 5px rgba(39, 7, 49, 0.35);
	}
	.marker h2{
		position: absolute;
		left: -11px;
		white-space: nowrap;
		margin: 0;
		padding: 0;
		color: #57068c;
		font-size: 0.75em;
		font-weight: normal;
	}
.marker h2:before{
	position: absolute;
	top: -1.25em;
	left: 10px;
	content: '';
	width: 1px;
	height: 1.25em;
	border-right: 1px solid #57068c;
}

	
	.marker-0{left: 0}
	.marker-1{left: calc((100% / 4) * 1)}
	.marker-2{left: calc((100% / 4) * 2)}
	.marker-3{left: calc((100% / 4) * 3)}
	.marker-4{left: calc((100% / 4) * 4)}


	@media(min-width:430px){
		.thermometer--logo{
			top: calc(50% - 31px);
			max-width:395px;
		}
	}
	@media(min-width:600px){
		.thermometer--block{
	    /*margin-left: 110px;*/
		}
	}
	@media(min-width:860px){
		.thermometer--block{
/*	    margin-left: 0px;
*/		}
	}





